Repository NVIDIA/garak, pull requests merged in 2024-04, with the labels that each got.

#581 Convert GGML to expect GGUF format
  README.md
  garak/generators/base.py
  garak/generators/ggml.py
  pyproject.toml
  requirements.txt
Labels: generators

#572 Feature/litellm generator
  garak/cli.py
  garak/generators/__init__.py
  garak/generators/litellm.py
  pyproject.toml
  requirements.txt
  tests/generators/test_litellm.py
Labels: generators, new plugin

#597 add test de-duping using skip-duplicate-actions
  .github/workflows/tests.yml
Labels: enhancement, tests

#616 add var for generator context_len and populate this for some generators
  garak/generators/base.py
  garak/generators/huggingface.py
  garak/generators/openai.py
Labels: generators

#600 allow generators.Base.generate() to take an optional param specifying generation count
  garak/generators/base.py
  garak/generators/cohere.py
  garak/generators/function.py
  garak/generators/ggml.py
  garak/generators/guardrails.py
  garak/generators/huggingface.py
  garak/generators/langchain.py
  garak/generators/litellm.py
  garak/generators/nemo.py
  garak/generators/nvcf.py
  garak/generators/octo.py
  garak/generators/openai.py
  garak/generators/openai_v0.py
  garak/generators/rasa.py
  garak/generators/replicate.py
  garak/generators/rest.py
  garak/generators/test.py
Labels: enhancement, generators

#588 Support for using 'langchain serve' endpoints
  garak/detectors/mitigation.py
  garak/generators/langchain_serve.py
  pyproject.toml
  requirements.txt
  tests/generators/test_langchain_serve.py
Labels: generators, new plugin

#631 add on-demand macos testing
  .github/workflows/test_macos.yml
Labels: tests

#633 macOS test install from correct path
  .github/workflows/test_macos.yml
Labels: tests

#636 bump hf transformers v to avoid transformers#30076
  pyproject.toml
  requirements.txt
Labels: bug, generators
