Repository NVIDIA/garak, pull requests merged in 2024-08, with the labels that each got.

#813 clarify `continuation` probes
  garak/configs/tox_and_buffs.yaml
  garak/probes/continuation.py
  garak/resources/plugin_cache.json
  garak/resources/slurprompts_mini.jsonl
Labels: probes

#811 print logfile path when invoked from CLI
  garak/cli.py
  garak/command.py
Labels: cli, ux

#767 probe: assess 🤗 repos for potentially malicious files
  .github/workflows/test_macos.yml
  docs/source/detectors.rst
  docs/source/garak.detectors.fileformats.rst
  docs/source/garak.probes.fileformats.rst
  docs/source/probes.rst
  garak/attempt.py
  garak/detectors/base.py
  garak/detectors/fileformats.py
  garak/harnesses/base.py
  garak/probes/fileformats.py
  pyproject.toml
  requirements.txt
  tests/detectors/test_detectors.py
  tests/detectors/test_detectors_fileformats.py
  tests/probes/test_probes_fileformats.py
  tests/resources/fileformats/exec_files/LICENSE
  tests/resources/fileformats/exec_files/batch.bat.base64
  tests/resources/fileformats/exec_files/grep-mach-o-top4k.base64
  tests/resources/fileformats/exec_files/libssl3-top4k.so.base64
  tests/resources/fileformats/exec_files/python-elf-top4k.base64
  tests/resources/fileformats/exec_files/setuptools-top4k.exe.base64
  tests/resources/fileformats/exec_files/shell.sh.base64
Labels: probes

#814 Report comparative info for detector scores
  garak/analyze/misp.py
  garak/analyze/perf_stats.py
  garak/analyze/report_digest.py
  garak/analyze/templates/digest_detector.jinja
  garak/analyze/templates/digest_footer.jinja
  garak/analyze/templates/digest_header.jinja
  garak/resources/calibration/bag.md
  garak/resources/calibration/calibration-2024-summer.json
  garak/resources/calibration/calibration-alpha-202407.json
  garak/resources/calibration/calibration.json
  garak/resources/misp_descriptions.tsv
  pyproject.toml
  requirements.txt
Labels: reporting

#818 update slurprompts filename in encoding pkg
  garak/probes/encoding.py
Labels: bug

#764 probe: topic pushing
  docs/source/garak.probes.topic.rst
  docs/source/probes.rst
  garak/analyze/get_tree.py
  garak/command.py
  garak/detectors/always.py
  garak/detectors/base.py
  garak/harnesses/base.py
  garak/probes/base.py
  garak/probes/topic.py
  pyproject.toml
  requirements.txt
  tests/detectors/test_detectors.py
  tests/detectors/test_detectors_always.py
  tests/probes/test_probes_topic.py
  tests/test_config.py
Labels: probes

#850 Rename `knownbadsignatures` to `av_spam_scanning`
  README.md
  docs/source/garak.probes.av_spam_scanning.rst
  docs/source/garak.probes.knownbadsignatures.rst
  docs/source/probes.rst
  garak/configs/fast.yaml
  garak/configs/full.yaml
  garak/configs/notox.yaml
  garak/detectors/knownbadsignatures.py
  garak/probes/av_spam_scanning.py
  garak/resources/calibration/calibration-2024-summer.json
Labels: probes

#849 plugin metadata tests
  garak/detectors/always.py
  garak/detectors/base.py
  garak/detectors/fileformats.py
  garak/detectors/knownbadsignatures.py
  garak/detectors/leakreplay.py
  garak/detectors/packagehallucination.py
  garak/detectors/productkey.py
  garak/detectors/replay.py
  garak/detectors/snowball.py
  garak/probes/atkgen.py
  garak/probes/dan.py
  garak/probes/fileformats.py
  garak/probes/malwaregen.py
  garak/probes/realtoxicityprompts.py
  tests/detectors/test_detectors.py
  tests/probes/test_probe_docs.py
  tests/probes/test_probe_format.py
  tests/probes/test_probe_tags.py
  tests/probes/test_probes.py
Labels: tests

#852 Add explanation of how we treat the word "vulnerability"
  FAQ.md
Labels: documentation

#858 refresh tutorial on contributing a generator
  docs/source/contributing.generator.rst
Labels: documentation

#860 avoid lambda in `_config` module level code
  garak/_config.py
Labels: bug, quality-speed

#837 extract generations to be set on probes
  docs/source/contributing.generator.rst
  docs/source/garak.generators.base.rst
  docs/source/garak.probes.base.rst
  garak/cli.py
  garak/exception.py
  garak/generators/base.py
  garak/generators/cohere.py
  garak/generators/function.py
  garak/generators/ggml.py
  garak/generators/guardrails.py
  garak/generators/huggingface.py
  garak/generators/langchain.py
  garak/generators/langchain_serve.py
  garak/generators/litellm.py
  garak/generators/nemo.py
  garak/generators/nvcf.py
  garak/generators/octo.py
  garak/generators/openai.py
  garak/generators/replicate.py
  garak/generators/rest.py
  garak/probes/atkgen.py
  garak/probes/base.py
  garak/probes/fileformats.py
  garak/resources/autodan/autodan.py
  garak/resources/tap/generator_utils.py
  tests/generators/test_generators.py
  tests/generators/test_ggml.py
  tests/generators/test_huggingface.py
  tests/generators/test_langchain_serve.py
  tests/generators/test_litellm.py
  tests/generators/test_nim.py
  tests/generators/test_openai.py
  tests/generators/test_rest.py
  tests/plugins/test_plugin_load.py
  tests/probes/test_probes_atkgen.py
  tests/probes/test_probes_leakreplay.py
  tests/probes/test_probes_packagehallucination.py
  tests/test_config.py
  tests/test_internal_structures.py
Labels: enhancement, probes, generators, cli, ux

#866 add logging dir, new generator questions to FAQ
  FAQ.md
Labels: documentation

#868 revise default generations value to 5
  garak/resources/garak.core.yaml
Labels: ux

#865 validate detector doc_uri
  garak/detectors/base.py
  tests/detectors/test_detectors.py
Labels: tests
