Repository NVIDIA/garak, pull requests merged in 2024-09, with the labels that each got.

#855 enable tokenizer customization in HFDetector
  garak/detectors/base.py
  garak/detectors/misleading.py
  garak/detectors/toxicity.py
Labels: enhancement, detectors

#867 improved messaging & error handling around NIM names
  garak/exception.py
  garak/generators/nim.py
Labels: generators, ux

#871 look at the right var for NIM name checking
  garak/generators/nim.py
Labels: bug, generators

#882 have CLI UI render 100% w/o using scientific notation
  garak/evaluators/base.py
Labels: cli, ux

#897 Generator docs are now tested for as intended
  docs/source/garak.generators.langchain_serve.rst
  docs/source/garak.generators.litellm.rst
  docs/source/garak.generators.rasa.rst
  docs/source/generators.rst
  tests/test_docs.py
Labels: tests

#901 reporting tweaks
  garak/analyze/report_digest.py
  garak/analyze/templates/digest_detector.jinja
  garak/analyze/templates/digest_header.jinja
Labels: reporting

#877 Latent prompt injection probe
  docs/source/garak.probes.latentinjection.rst
  docs/source/probes.rst
  garak/probes/latentinjection.py
  tests/probes/test_probes_latentinjection.py
  tests/test_docs.py
Labels: probes, new plugin

#903 add test status lozenges for lin/win/osx
  README.md
Labels: documentation

#908 tweak: defer import of slow Llava* classes
  garak/generators/huggingface.py
Labels: generators

#910 tweak: new latentinjection probe, add configurability to mini version
  garak/probes/latentinjection.py
Labels: probes

#911 Document configuration of garak using YAML
  docs/source/_config.rst
  docs/source/_plugins.rst
  docs/source/command.rst
  docs/source/configurable.rst
  docs/source/garak.generators.rest.rst
  docs/source/index.rst
  docs/source/interactive.rst
  garak/generators/rest.py
  tests/test_docs.py
Labels: documentation

#912 RST formatting updates to restgenerator page
  docs/source/garak.generators.rest.rst
Labels: documentation

#914 doc: give generatiors.rest list the space it wants and deserves
  docs/source/garak.generators.rest.rst
Labels: documentation

#870 payload/probe separation
  docs/source/index.rst
  docs/source/payloads.rst
  garak/exception.py
  garak/payloads.py
  garak/probes/grandma.py
  garak/resources/payloads/keyedprod_win10.json
  garak/resources/typology_payloads.tsv
  tests/test_payloads.py
Labels: enhancement, probes

#918 bug: set match type correctly in `riskywords` detectors
  garak/detectors/base.py
  garak/detectors/mitigation.py
  garak/detectors/riskywords.py
  tests/detectors/test_detectors_riskywords.py
Labels: bug, detectors

#921 latent injection doc fix
  docs/source/garak.probes.latentinjection.rst
  garak/probes/latentinjection.py
Labels: documentation

#923 bugfix: enable latent injection mini latent jailbreak probe by default
  garak/probes/latentinjection.py
Labels: bug, probes

#925 tweak: update migitation strings
  garak/detectors/mitigation.py
Labels: bug, detectors

#929 docs: add example of using `Configurable` to specify a generator name for `load_plugin`
  docs/source/configurable.rst
Labels: documentation

#930 bugfix: use distinct report entry type for payload init
  garak/payloads.py
Labels: bug

#922 generators: update `openai` for o1 models
  garak/exception.py
  garak/generators/openai.py
  pyproject.toml
  requirements.txt
  tests/generators/test_openai.py
Labels: generators

#917 docs: NVIDIA generators
  docs/source/garak.generators.guardrails.rst
  docs/source/garak.generators.nemo.rst
  docs/source/garak.generators.nvcf.rst
  garak/generators/nemo.py
  garak/generators/nvcf.py
  tests/generators/test_nvcf.py
Labels: documentation
