Repository NVIDIA/garak, pull requests merged in 2024-07, with the labels that each got.

#763 add grandma substance synth probe, update docs and var names
  garak/probes/grandma.py
Labels: probes

#644 support chat modality in attempts
  garak/attempt.py
  garak/buffs/base.py
  garak/detectors/always.py
  garak/detectors/base.py
  garak/detectors/continuation.py
  garak/detectors/encoding.py
  garak/detectors/goodside.py
  garak/detectors/leakreplay.py
  garak/detectors/malwaregen.py
  garak/detectors/misleading.py
  garak/detectors/packagehallucination.py
  garak/detectors/perspective.py
  garak/detectors/productkey.py
  garak/detectors/promptinject.py
  garak/detectors/replay.py
  garak/detectors/snowball.py
  garak/detectors/xss.py
  garak/generators/openai.py
  garak/probes/atkgen.py
  garak/probes/base.py
  tests/detectors/test_detectors.py
  tests/detectors/test_detectors_packagehallucination.py
  tests/detectors/test_detectors_productkey.py
  tests/test_attempt.py
Labels: enhancement

#754 probe: assess 🤗 repos for potentially malicious files
  docs/source/detectors.rst
  docs/source/garak.detectors.fileformats.rst
  docs/source/garak.probes.fileformats.rst
  docs/source/probes.rst
  garak/attempt.py
  garak/detectors/base.py
  garak/detectors/fileformats.py
  garak/harnesses/base.py
  garak/probes/fileformats.py
  pyproject.toml
  requirements.txt
  tests/detectors/test_detectors.py
  tests/detectors/test_detectors_fileformats.py
  tests/resources/fileformats/exec_files/LICENSE
  tests/resources/fileformats/exec_files/batch.bat
  tests/resources/fileformats/exec_files/grep-mach-o-top4k
  tests/resources/fileformats/exec_files/python-elf-top4k
  tests/resources/fileformats/exec_files/setuptools-top4k.exe
  tests/resources/fileformats/exec_files/shell.sh
Labels: probes, new plugin

#761 retry openaicompatible requests if invalid content received
  garak/exception.py
  garak/generators/openai.py
Labels: bug, generators

#773 enable nested setting of plugin configs
  garak/_config.py
Labels: enhancement

#772 update NVCF to support versioning, custom payload keys
  garak/exception.py
  garak/generators/nvcf.py
  tests/generators/test_nvcf.py
  tests/generators/test_openai_compatible.py
  tests/test_config.py
Labels: generators

#778 always log nvcf payload
  garak/generators/nvcf.py
Labels: generators

#779 move REST generator exception into garak.exceptions
  garak/exception.py
  garak/generators/rest.py
Labels: enhancement, generators

#782 defensive coding: allow python generators more places
  garak/attempt.py
  garak/evaluators/base.py
  garak/harnesses/base.py
  tests/test_internal_structures.py
Labels: enhancement

#768 cached plugin enum
  garak/_plugins.py
  garak/attempt.py
  garak/command.py
  garak/detectors/misleading.py
  garak/detectors/mitigation.py
  garak/detectors/packagehallucination.py
  garak/generators/huggingface.py
  garak/generators/litellm.py
  garak/generators/replicate.py
  garak/probes/lmrc.py
  garak/probes/suffix.py
  garak/probes/visual_jailbreak.py
  garak/resources/gcg/attack_manager.py
  garak/resources/plugin_cache.json
  tests/plugins/test_plugin_cache.py
Labels: quality-speed

#776 generator: lorem ipsum
  garak/generators/test.py
  pyproject.toml
  requirements.txt
  tests/generators/test_test.py
Labels: generators

#777 atkgen - add configurability, allow config of which adversarial generator to use
  garak/generators/huggingface.py
  garak/probes/atkgen.py
  tests/probes/test_probes_atkgen.py
Labels: generators

#775 enhancement: enable lazy setting of nested dicts
  garak/_config.py
  tests/test_config.py
Labels: enhancement

#780 stop encoding.payloads accumulating each load
  garak/probes/encoding.py
  tests/probes/test_probes_encoding.py
Labels: bug, probes

#762 add mitigation strings, add test for string-based mitigation skipping
  garak/detectors/mitigation.py
  tests/detectors/test_detectors_mitigation.py
Labels: detectors

#800 bump transformers ver to min reqd for llama 3.1
  pyproject.toml
  requirements.txt
Labels: enhancement

#799 use XDG paths for configuration data and caching
  docs/source/basic.rst
  garak/_config.py
  garak/_plugins.py
  garak/analyze/report_digest.py
  garak/command.py
  garak/detectors/riskywords.py
  garak/detectors/specialwords.py
  garak/evaluators/base.py
  garak/interactive.py
  garak/probes/continuation.py
  garak/probes/dan.py
  garak/probes/donotanswer.py
  garak/probes/encoding.py
  garak/probes/leakreplay.py
  garak/probes/misleading.py
  garak/probes/realtoxicityprompts.py
  garak/probes/snowball.py
  garak/probes/suffix.py
  garak/probes/tap.py
  garak/probes/visual_jailbreak.py
  garak/resources/autodan/autodan.py
  garak/resources/autodan/genetic.py
  garak/resources/beast/beast_attack.py
  garak/resources/common.py
  garak/resources/gcg/generate_gcg.py
  garak/resources/tap/tap_main.py
  pyproject.toml
  requirements.txt
  tests/analyze/test_analyze.py
  tests/buffs/test_buff_config.py
  tests/plugins/test_plugin_cache.py
  tests/probes/test_probe_tags.py
  tests/test_attempt.py
  tests/test_config.py
  tests/test_hitlog.py
Labels: enhancement
