Repository NVIDIA/garak, pull requests merged in 2024-05, with the labels that each got.

#640 meta the arguments a bit for GET vs other request types
  garak/generators/rest.py
  garak/resources/rest/restdemo.json
Labels: generators

#587 [New Features] Multi-modal Jailbreaking Attack on LLaVA
  garak/detectors/base.py
  garak/detectors/visual_jailbreak.py
  garak/generators/base.py
  garak/generators/huggingface.py
  garak/probes/base.py
  garak/probes/visual_jailbreak.py
  garak/resources/safebench_filenames.txt
  garak/resources/safebenchtiny_filenames.txt
Labels: probes, detectors, generators, new plugin

#653 Bugfix/visual jailbreak pause
  docs/source/detectors.rst
  docs/source/garak.detectors.visual_jailbreak.rst
  docs/source/garak.probes.visual_jailbreak.rst
  docs/source/probes.rst
  garak/probes/visual_jailbreak.py
  tests/cli/test_cli.py
  tests/test_docs.py
Labels: bug, probes

#637 generator: NIM
  docs/source/garak.generators.nim.rst
  docs/source/generators.rst
  garak/generators/base.py
  garak/generators/nim.py
  garak/generators/openai.py
  garak/generators/test.py
  tests/generators/test_generators.py
  tests/generators/test_nim.py
  tests/generators/test_openai.py
Labels: generators, new plugin

#608 Probe: Do Not Answer
  README.md
  docs/source/garak.probes.donotanswer.rst
  docs/source/probes.rst
  garak/probes/donotanswer.py
  garak/resources/donotanswer/discrimination_exclusion_toxicity_hateful_offensive.txt
  garak/resources/donotanswer/human_chatbox.txt
  garak/resources/donotanswer/information_hazard.txt
  garak/resources/donotanswer/malicious_uses.txt
  garak/resources/donotanswer/misinformation_harms.txt
  garak/resources/misp_descriptions.tsv
Labels: probes, new plugin

#678 handle target model returning None in atkgen
  garak/probes/atkgen.py
Labels: bug, probes

#688 Tutorial for contributing a generator
  docs/source/contributing.generator.rst
  docs/source/contributing.rst
  docs/source/generators.rst
  docs/source/index.rst
  docs/source/probes.rst
  garak/generators/replicate.py
  pyproject.toml
Labels: documentation

#682 Generator streamlining, docs
  docs/source/garak.generators.base.rst
  docs/source/garak.probes.base.rst
  garak/generators/base.py
Labels: documentation, generators

#696 Split NVCF generator into completion chat
  garak/generators/nvcf.py
Labels: generators

#703 Update the quality taxonomy
  garak/_plugins.py
  garak/probes/dan.py
  garak/probes/donotanswer.py
  garak/probes/goodside.py
  garak/probes/knownbadsignatures.py
  garak/probes/leakreplay.py
  garak/probes/lmrc.py
  garak/probes/malwaregen.py
  garak/probes/promptinject.py
  garak/probes/realtoxicityprompts.py
  garak/probes/replay.py
  garak/probes/xss.py
  garak/resources/misp_descriptions.tsv
  tests/probes/test_probe_tags.py
Labels: probes

#708 Improve cloze data for `leakreplay` probe
  garak/probes/leakreplay.py
  garak/resources/nyt_cloze.tsv
  garak/resources/potter_cloze.tsv
Labels: probes

#707 speedup report generation by using class attribs instead of instantiating
  garak/analyze/report_digest.py
Labels: reporting, quality-speed

#706 add CONTRIBUTING.md, update contributing guide in docs
  CONTRIBUTING.md
  docs/source/contributing.rst
Labels: documentation
