Repository NVIDIA/garak, pull requests merged in 2025-04, with the labels that each got.

#1147 update: unify on `attempt.notes["triggers"]`
  garak/detectors/continuation.py
  garak/detectors/promptinject.py
  garak/evaluators/base.py
  garak/probes/continuation.py
  garak/probes/promptinject.py
  tests/detectors/test_detectors_continuation.py
  tests/probes/test_probes_continuation.py
Labels: architecture

#1148 update: promptinject detector now accepts multiple triggers
  garak/detectors/promptinject.py
  tests/detectors/test_detectors_promptinject.py
Labels: detectors

#1149 update: rename atkgen probe model to be clear about toxicity
  garak/probes/atkgen.py
Labels: probes

#1151 update: add probe tiers
  garak/probes/ansiescape.py
  garak/probes/atkgen.py
  garak/probes/av_spam_scanning.py
  garak/probes/base.py
  garak/probes/continuation.py
  garak/probes/dan.py
  garak/probes/divergence.py
  garak/probes/donotanswer.py
  garak/probes/encoding.py
  garak/probes/fileformats.py
  garak/probes/glitch.py
  garak/probes/goodside.py
  garak/probes/grandma.py
  garak/probes/latentinjection.py
  garak/probes/leakreplay.py
  garak/probes/lmrc.py
  garak/probes/malwaregen.py
  garak/probes/misleading.py
  garak/probes/packagehallucination.py
  garak/probes/phrasing.py
  garak/probes/promptinject.py
  garak/probes/realtoxicityprompts.py
  garak/probes/snowball.py
  garak/probes/suffix.py
  garak/probes/tap.py
  garak/probes/test.py
  garak/probes/topic.py
  garak/probes/visual_jailbreak.py
  garak/probes/xss.py
  tests/probes/test_probes.py
Labels: architecture, probes

#1156 reporting: update report aggregation funcs
  docs/source/configurable.rst
  garak/analyze/report_digest.py
  garak/analyze/templates/digest_detector.jinja
  garak/analyze/templates/digest_group.jinja
  garak/analyze/templates/digest_header.jinja
  garak/analyze/templates/digest_probe.jinja
  garak/detectors/always.py
  garak/resources/garak.core.yaml
Labels: reporting

#1138 Template / SQL injection probes
  docs/source/detectors.rst
  docs/source/garak.detectors.exploitation.rst
  docs/source/garak.probes.exploitation.rst
  docs/source/probes.rst
  garak/data/misp_descriptions.tsv
  garak/data/payloads/python_code_execution.json
  garak/data/payloads/sql_injection.json
  garak/detectors/exploitation.py
  garak/probes/exploitation.py
  garak/probes/xss.py
  tests/detectors/test_detectors_exploitation.py
Labels: probes, detectors, new plugin

#1154 update: add soft prompt caps to encoding probes
  garak/probes/encoding.py
  tests/probes/test_probes_encoding.py
Labels: probes

#1170 bugfix: HF Detector exceptions now handled gracefully by default
  garak/detectors/base.py
Labels: bug, detectors

#1173 cache workflow resources
  .github/workflows/nightly.yml
  .github/workflows/test_linux.yml
  .github/workflows/test_macos.yml
  .github/workflows/test_windows.yml
Labels: tests

#1176 update: more meaningful values in tier enums
  garak/probes/base.py
Labels: architecture

#1182 ux: give more verbose message for CLI typos
  garak/_plugins.py
Labels: cli, ux

#1152 refactor `LatentInjection`
  garak/probes/latentinjection.py
  tests/probes/test_probes.py
Labels: architecture, probes
