Repository NVIDIA/garak, pull requests merged in 2025-06, with the labels that each got.

#1187 probes: refactor fact snippet mixin
  garak/probes/latentinjection.py
  tests/probes/test_probes_latentinjection.py
Labels: probes

#1188 update LocalDataPath and testing for python 3.13 support
  .github/workflows/remote_package_install.yml
  .github/workflows/test_linux.yml
  .github/workflows/test_macos.yml
  garak/data/__init__.py
Labels: architecture

#1264 Leakreplay refactor
  garak/probes/leakreplay.py
  tests/generators/test_ollama.py
  tests/probes/test_probes_leakreplay.py
Labels: architecture, probes
