Repository NVIDIA/garak, pull requests merged in 2025-09, with the labels that each got.

#1317 Specify `flit` build-system within `pyproject.toml`
  MANIFEST.in
  pyproject.toml
Labels: housekeeping

#1315 Update how license is defined in pyproject.toml
  pyproject.toml
Labels: housekeeping

#1343 probe: Atbash Encoding
  .gitignore
  garak/probes/encoding.py
  tests/probes/test_probes_encoding.py
Labels: probes

#1369 reporting: add basic docs to scripts in analyze pkg
  garak/analyze/analyze_log.py
  garak/analyze/count_tokens.py
  garak/analyze/get_tree.py
  garak/analyze/misp.py
  garak/analyze/perf_stats.py
  garak/analyze/qual_review.py
  garak/analyze/report_avid.py
  garak/analyze/report_digest.py
Labels: reporting

#1351 probe: ansi escape codes in tokenizer
  garak/detectors/ansiescape.py
  garak/generators/huggingface.py
  garak/probes/ansiescape.py
  garak/resources/ansi.py
  tests/detectors/test_detectors_ansiescape.py
Labels: probes, new plugin

#1336 reporting: add aggregation of report jsonl digest objects, and tests for aggregation
  garak/analyze/aggregate_reports.py
  garak/analyze/report_digest.py
  garak/analyze/templates/digest_detector.jinja
  tests/_assets/agg.report.jsonl
  tests/_assets/quack.report.jsonl
  tests/_assets/test.report.jsonl
  tests/analyze/test_aggregate.py
Labels: tests, reporting

#1381 update: rename `data/misp_descriptions.tsv` to `data/tags.misp.tsv`
  garak/analyze/misp.py
  garak/analyze/report_digest.py
  garak/data/tags.misp.tsv
  tests/probes/test_probes.py
  tests/test_data.py
Labels: architecture

#1243 probes: package hallucination support for dart, perl, & raku
  garak/detectors/packagehallucination.py
  garak/probes/packagehallucination.py
  tests/detectors/test_detectors_packagehallucination.py
  tests/probes/test_probes_packagehallucination.py
  tools/packagehallucination/dart/create_dataset.py
  tools/packagehallucination/perl/create_dataset.py
  tools/packagehallucination/raku/create_dataset.py
  tools/requirements.txt
Labels: probes

#1383 config: `model_*` to `target_*`
  .github/workflows/test_windows.yml
  README.md
  docs/source/cliref.rst
  docs/source/configurable.rst
  docs/source/extending.generator.rst
  docs/source/extending.probe.rst
  docs/source/extending.rst
  docs/source/garak.generators.guardrails.rst
  docs/source/garak.generators.nvcf.rst
  docs/source/garak.generators.rest.rst
  docs/source/translation.rst
  docs/source/usage.rst
  garak/_config.py
  garak/_plugins.py
  garak/analyze/aggregate_reports.py
  garak/analyze/report_avid.py
  garak/analyze/report_digest.py
  garak/cli.py
  garak/command.py
  garak/evaluators/base.py
  garak/exception.py
  garak/generators/azure.py
  garak/generators/function.py
  garak/generators/ggml.py
  garak/generators/groq.py
  garak/generators/guardrails.py
  garak/generators/huggingface.py
  garak/generators/langchain.py
  garak/generators/litellm.py
  garak/generators/nim.py
  garak/generators/nvcf.py
  garak/generators/openai.py
  garak/generators/rasa.py
  garak/generators/rest.py
  garak/langproviders/base.py
  garak/report.py
  garak/resources/fixer/20250925_model_target_nametype.py
  garak/resources/garak.core.yaml
  garak/resources/tap/generator_utils.py
  tests/generators/test_azure.py
  tests/generators/test_huggingface.py
  tests/generators/test_litellm.py
  tests/generators/test_llava.py
  tests/test_config.py
Labels: architecture

#1385 docs: theme recolor
  docs/source/_static/css/garak_theme.css
  docs/source/conf.py
  docs/source/index.rst
  docs/source/install.rst
  docs/source/reporting.rst
  docs/source/usage.rst
  garak/probes/ansiescape.py
  garak/probes/dra.py
Labels: documentation

#1367 cli: add filtering support for --list_* options
  garak/cli.py
  garak/command.py
  tests/cli/test_cli_list_filtering.py
Labels: cli

#1335 rename and extend Web injection probes
  docs/source/detectors.rst
  docs/source/garak.detectors.web_injection.rst
  docs/source/garak.detectors.xss.rst
  docs/source/garak.probes.web_injection.rst
  docs/source/garak.probes.xss.rst
  docs/source/probes.rst
  garak/data/calibration/calibration-2025-05.json
  garak/data/payloads/markdown_js.json
  garak/data/payloads/normal_instructions.json
  garak/data/tags.misp.tsv
  garak/detectors/web_injection.py
  garak/probes/web_injection.py
  garak/resources/fixer/20250908_xss_rename.py
  tests/detectors/test_detectors_web_injection.py
  tests/resources/test_fixer.py
Labels: probes, new plugin
